In [5]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [1, 2, 3, 4]
})
df
# check for missing values: 
# print(df.isnull())

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4

# checking for missing values in entire DataFrame:

In [2]:
print(df.isnull().sum())

A    1
B    1
C    0
dtype: int64

# Removing Missing Data: 
* Drop row with missing values:

In [3]:
# This will drop all the missing values: 
df_drop_rows = df.dropna()
df_drop_rows

     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4

# Drop columns with missing values:

In [7]:
df_drop_columns = df.dropna(axis=0)
df_drop_columns

     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4

# drop rows where all values are missing

In [20]:
import pandas as pd

df1 = pd.DataFrame({
    'A' : [None, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [None, 2, None, 4],
    'D' : [None, 2, 3, 4]
})
# check for missing values: 
print(df1,"\n")

df_drop_all_missing = df1.dropna(how = "all")
print(df_drop_all_missing)

# how = "all"
# means jaha pe bee sare ke sare values null hoge i mean puri line ke value null hogi waha pe ye kam aayega

     A    B    C    D
0  NaN  NaN  NaN  NaN
1  2.0  2.0  2.0  2.0
2  NaN  3.0  NaN  3.0
3  4.0  4.0  4.0  4.0

     A    B    C    D
1  2.0  2.0  2.0  2.0
2  NaN  3.0  NaN  3.0
3  4.0  4.0  4.0  4.0

In [25]:
# # Let's delete the data alogn the row nd column 

# # let's first start with row

# # code for row: 
# import pandas as pd

# df1 = pd.DataFrame({
#     'A' : [None, 2, None, 4],
#     'B': [None, 2, 3, 4],
#     'C' : [None, 2, None, 4],
#     'D' : [None, 2, 3, 4]
# })
# # check for missing values: 
# print(df1,"\n")

# df_drop_all_missing = df1.dropna(how = "all", axis=0) # if we do not specify the axis value then default it is row, here axis=0 represents row
# print(df_drop_all_missing)



# code for column: 
import pandas as pd
df1 = pd.DataFrame({
    'A' : [None, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [None, 2, None, 4],
    'D' : [None, 2, 3, 4]
})
print(df1,"\n")
df_drop_all_missing = df1.dropna(how = "all", axis=0) # here axis-1 represents column 
print(df_drop_all_missing)

     A    B    C    D
0  NaN  NaN  NaN  NaN
1  2.0  2.0  2.0  2.0
2  NaN  3.0  NaN  3.0
3  4.0  4.0  4.0  4.0

     A    B    C    D
1  2.0  2.0  2.0  2.0
2  NaN  3.0  NaN  3.0
3  4.0  4.0  4.0  4.0

# Drop rows with missing values in specific columns:

In [12]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [1, 2, 3, 4]
})
# df_drop_specific_vaue = df.dropna(subset = ['A'])
df_drop_specific = df.dropna(subset = ['B'])
print(df_drop_specific)
print()
print("The df is here only for the comparision")
print(df)

     A    B  C
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4

The df is here only for the comparision
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4

# filling missing values with a specific value:

In [10]:
df_filled_value = df.fillna("Beast")
df_filled_value

       A      B  C
0    1.0  Beast  1
1    2.0    2.0  2
2  Beast    3.0  3
3    4.0    4.0  4

# Filling missing values with the mean of the column:

In [25]:
df['A'].fillna(df['A'].mean(), inplace = True)
print(df.mean())
df

A    2.333333
B    3.000000
C    2.500000
dtype: float64

C:\Users\ACER\AppData\Local\Temp\ipykernel_10200\1000647759.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(df['A'].mean(), inplace = True)

          A    B  C
0  1.000000  NaN  1
1  2.000000  2.0  2
2  2.333333  3.0  3
3  4.000000  4.0  4

# Forward fill (propogate the last valid observation forward to the next):

In [35]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [1, 2, 3, 4]
})
# check for missing values: 
print(df.isnull())

df_fillna = df.fillna(method="ffill")
df_fillna

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False  False

C:\Users\ACER\AppData\Local\Temp\ipykernel_10200\3520501601.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fillna = df.fillna(method="ffill")

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  2.0  3.0  3
3  4.0  4.0  4

# Backward fill:

In [36]:
df_fillna = df.fillna(method="Bfill")
df_fillna

C:\Users\ACER\AppData\Local\Temp\ipykernel_10200\2035525017.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fillna = df.fillna(method="Bfill")

     A    B  C
0  1.0  2.0  1
1  2.0  2.0  2
2  4.0  3.0  3
3  4.0  4.0  4

# Interpolating Missing Data:

In [41]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [1, 2, 3, 4]
})
print("The original data: \n")
df

The original data:

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4

In [43]:
df_interpolation = df.interpolate()
df_interpolation

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  3.0  3.0  3
3  4.0  4.0  4

# Example-2: [Take-2]

In [1]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, None, 8],
    'B': [None, 2, 3, 4],
    'C' : [1, 2, 3, 4]
})
print("The original data: \n")
df

df_interpolation = df.interpolate()
df_interpolation

The original data:

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  5.0  3.0  3
3  8.0  4.0  4

# Replacing Missing Data:

In [2]:
# df_replace = df.replace(to_replace = pd.NA, value = "Beast")
df_replace = df.replace(to_replace=pd.NaN, value=0)
df_replace

AttributeError: module 'pandas' has no attribute 'NaN'

# using codition to handel Missing Data:

In [13]:
df['A'] = df['A'].apply(lambda x: 0 if pd.isna(x) else x)
df

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  0.0  3.0  3
3  4.0  4.0  4

# aagar aalag aalag column ke null values ko aalag aalag data ke sath fill kar na ho too?

In [17]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C' : [1, 2, 3, 4]
})

df.fillna({"A": "Beats", "B": "Devil", "C":"Viper"})

       A      B  C
0    1.0  Devil  1
1    2.0    2.0  2
2  Beats    3.0  3
3    4.0    4.0  4