# Series:

In [3]:
import pandas as pd

# creating a series
data = [10, 20, 30, 40, 50, 60]
series = pd.Series(data)
print(series)
print(type(series))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
<class 'pandas.core.series.Series'>

# we can even pass a dictionary or tuuple instead of a list:

In [7]:
dict = {
    "name": ["Beast", "Devil", "Viper", "Jack"],
    "rank": ["Heroic", "platinum", "gold", "silver"],
    "leaderboard":[1, 2, 3, 4]
}
series = pd.Series(dict)
# series
print(series)

name                [Beast, Devil, Viper, Jack]
rank           [Heroic, platinum, gold, silver]
leaderboard                        [1, 2, 3, 4]
dtype: object

# we can even create a series only with a single value:

In [8]:
s = pd.Series("Beast")
print(s)
print(type(s))

0    Beast
dtype: object
<class 'pandas.core.series.Series'>

# DataFrame:

In [1]:
import pandas as pd

data = {
    'Name': ["Beast", "Devil", "Viper"],
    'Age': [21, 22, 23]
}
df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age
0  Beast   21
1  Devil   22
2  Viper   23
<class 'pandas.core.frame.DataFrame'>

In [3]:
new_data = {
    'data_1': [1, 2, 3, 4],
    'data_2': [1, 2, 3, 4, 5]
}
a = pd.DataFrame(new_data)
print(a)

   data_1  data_2
0       1       1
1       2       2
2       3       3
3       4       4
4       5       5

In [19]:
l1 = [1, 2, 3]
var = pd.DataFrame(l1)
print(var)
print(type(var))

   0
0  1
1  2
2  3
<class 'pandas.core.frame.DataFrame'>

In [24]:
l1 = [1, 2, 3]
var = pd.DataFrame(l1, index = ["a", "b", "f"])
print(var)
print(type(var))

   0
a  1
b  2
f  3
<class 'pandas.core.frame.DataFrame'>

In [26]:
list_1 = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
var2 = pd.DataFrame(list_1)
print(var2)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [30]:
list_1 = [
    [1, 2, 3, 4, 5], 
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20]
]
var2 = pd.DataFrame(list_1)
print(var2)

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

# Arithmetic Operations on series:

In [ ]:
# Addition(+):
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
result = s1 + s2
print(result, "\n")

# subtraction (-):
result = s1 - s1
print(result, "\n")

# Multipication(*):
result = s1 * s1
print(result, "\n")

# Division(/):
result = s1 / s1
print(result, "\n")

# Modulus(%): 
result = s1 % s1
print(result, "\n")

# Exponentiation(**):
result = s1 ** s1
print(result, "\n")

# Arithmetic Operations on DataFrame

In [5]:
import pandas as pd
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
})

print(f"I am DataFrame-1:\n {df1}\n")
print(f"I am DataFrame-2:\n {df2}\n\n")
add = df1 + df2
subtract = df1 - df2
multiply = df1 * df2
divide = df1 / df2
modulus = df1 % df2
exponentiation = df1 ** df2
print(f"I am add:\n  {add}\n\n")
print(f"I am subtract:\n  {subtract}\n\n")
print(f"I am multiply:\n  {multiply}\n\n")
print(f"I am divide:\n  {divide}\n\n")
print(f"I am modulus:\n  {modulus}\n\n")
print(f"I am exponentiation:\n {exponentiation}\n\n")

# Delete in Pandas:

import pandas as pd
df = pd.DataFrame({
    'A': [1, 3, 5, 4],
    'B': [5, 6, 7, 8]
})
print(df)
# print()
# df = df.drop(index=1)
# print(df) # This will drop the row at index = 1 

# Deleting Row based on condition

# Delete rows where column A is less than 3
print(df)
print()
df = df[df['A'] >= 3]
print(df)

# using iloc[] to delete by Position 

# deletign the fort row (index 0)
print(df)
df = df.drop(df.index[0])
print(df)

# deleting column: 

df = df.drop(columns = 'B')
print(df)

# using del statement

del df['A']
print(df)

I am DataFrame-1:
    A  B
0  1  4
1  2  5
2  3  6

I am DataFrame-2:
    A   B
0  7  10
1  8  11
2  9  12


I am add:
      A   B
0   8  14
1  10  16
2  12  18


I am subtract:
     A  B
0 -6 -6
1 -6 -6
2 -6 -6


I am multiply:
      A   B
0   7  40
1  16  55
2  27  72


I am divide:
            A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000


I am modulus:
     A  B
0  1  4
1  2  5
2  3  6


I am exponentiation:
        A           B
0      1     1048576
1    256    48828125
2  19683  2176782336


   A  B
0  1  5
1  3  6
2  5  7
3  4  8
   A  B
0  1  5
1  3  6
2  5  7
3  4  8

   A  B
1  3  6
2  5  7
3  4  8
   A  B
1  3  6
2  5  7
3  4  8
   A  B
2  5  7
3  4  8
   A
2  5
3  4
Empty DataFrame
Columns: []
Index: [2, 3]

# Inserting Data in Pandas

* Using assign method

In [6]:
import pandas as pd
df = df.assign(a = [1, 2], c = [7, 8], b = [9, 8])
print(df)

   a  c  b
2  1  7  9
3  2  8  8

# Direct Assignment

In [7]:
df['D'] = [10, 11]
print(df)

   a  c  b   D
2  1  7  9  10
3  2  8  8  11

* using insert method

In [8]:
df.insert(1, "newcol", [99, 99])
df

   a  newcol  c  b   D
2  1      99  7  9  10
3  2      99  8  8  11

In [9]:
df.insert(1, "name", ['Beast', 'DEvil'])
df

# Explaination
# here 
# 1 = index where we want to insert the data 
# "name" = teh name of the column 
# ['Beast', 'Devil'] = the data of the column "name"

   a   name  newcol  c  b   D
2  1  Beast      99  7  9  10
3  2  DEvil      99  8  8  11

* using loc[] method

In [12]:
df.loc[len(df)] = ["A1", "A2", "A3", "A4", "A5"]

ValueError: Must have equal len keys and value when setting with an iterable

* using append

In [ ]:
new_row = pd.DataFrame({
    'A':[5], 
    'B':[6],
    'C':[7],
    'D':[14]
})

new_row

df = df.append(new_row, ignore_index = True)

# Reading CSV file

In [47]:
# import pandas as pd
# df = pd.read_csv('path/to/your/file.csv')
# print(df.head())

# writing to CSV file

In [1]:
import pandas as pd
data = {
    'Name': ["Beast", "DEvil", "Viper"],
    'Rank': ["Heroic", "Grandmaster", "International Master"],
    'Score_board': [1, 2, 3]
}
df = pd.DataFrame(data)
df.to_csv("Beast.csv", index = False)
df

    Name                  Rank  Score_board
0  Beast                Heroic            1
1  DEvil           Grandmaster            2
2  Viper  International Master            3